WCFTest/SelfhostClient/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://hehe" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hehe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://hehe/Imports">
      <xsd:import schemaLocation="http://localhost:8342/ServiceModelSamples/Service?xsd=xsd0" namespace="http://hehe" />
      <xsd:import schemaLocation="http://localhost:8342/ServiceModelSamples/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOperation" />
  </wsdl:message>
  <wsdl:message name="IService_AddOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SubOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:SubOperation" />
  </wsdl:message>
  <wsdl:message name="IService_SubOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddOperation">
      <wsdl:input wsaw:Action="http://hehe/IService/AddOperation" message="tns:IService_AddOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://hehe/IService/AddOperationResponse" message="tns:IService_AddOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubOperation">
      <wsdl:input wsaw:Action="http://hehe/IService/SubOperation" message="tns:IService_SubOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://hehe/IService/SubOperationResponse" message="tns:IService_SubOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>